


img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 1rem;
  }

  .tarot-card-top{
   
    /* grid-row-gap: 10px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: auto;
    grid-column-gap: 0;
    text-align: center;
    height: auto; */


    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.img-arcane-top
{
    
    padding: 0 5px;
    max-width: 150px;
 
}

.img-arcane-top-txt{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}